@import 'ress';

:root {
    font-size: 10px;
    --regular: 300;
    --bold: 600;
}

.app {
    font-family: 'Livvic', sans-serif;
    font-size: 1.6rem;
    font-weight: var(--regular);
    line-height: 1;
    color: white;
    background-color: black;
}

.text-center {
    text-align: center;
}